@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600&display=swap');

* {
  color: #fff;
  font-family: 'Work Sans', sans-serif;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #303030;
  width: 50%;
  height: 50%;
}

.header {
  display: flex;
  align-items: center;
  background: #808080;
}

.header-item {
  margin: 20px;
}

#player-name {
  font-size: 18px;
}

#player-balance {
  font-size: 18px;
}

.wrapper {
  margin-top: 6em;
}

.action-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-grid {
  display: flex;
  margin: 10px;
}

.action-button {
  margin: 10px;
  background: #808080;
  border: none;
  font-size: 14px;
  padding: 10px;
  outline: none;
  cursor: pointer;
  background: #fff;
  color: #4f4f4f;
  font-weight: 500;
  border-radius: 5px;
  padding: 10px 20px;
}

.input-section {
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#input-amount {
  outline: none;
  color: #000;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  text-align: center;
  color: #808080;
  font-weight: 600;
}

#input-amount::placeholder {
  color: #808080;
  font-weight: 600;
}

#input-prefix {
  position: absolute;
  bottom: 53.7%;
  margin-left: 10px;
  color: #000;
  color: #808080;
  font-weight: 600;
}
